# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*/ 
*.png
*.docx
lab9.png
lab9.drawio
4033_Фабрика_ЛР9.pdf
*.user
*.user
kur-such-4-1-agency/kur-such-4-1-agency.pro.user
